<div class="front-page">
  <div class="jumbotron splash-image">
    <div class="container">
      <h1 class="page-header">Feudal Points Box</h1>    
      <p>Now with more castles and knights!</p>
      <%= link_to "Create Account", new_user_path, class: "btn btn-primary btn-lg" %>
      <% unless current_user %>
        <%= link_to "Login", login_path, class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
  <h2 class="text-center"><em>Here are a few of the great rewards you could earn!</em></h2>
  <div class="row row-centered">
    <div class="col-md-3"></div>
    <%= render partial: "rewards/rewards" %>
  </div>
</div>
