html, body {
  background: linear-gradient(180deg, rgb(199, 168, 188), rgb(112, 35, 183));
  background-size: cover;
  height: 100%;
  margin: 0;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
  margin: 0 auto;
}

#create-box {
  position: absolute;
  top: 15%;
  left: 4%;
}

#login-box {
  position: absolute;
  top: 25%;
  left: 25%;
}

.front-page h2 {
  color: white;
}

h1 {
  color: #7023b7;
}

.reward-img {
  height: 100px;
  width: 100px;
}

.splash-image {
  background-image: url("https://images.unsplash.com/photo-1436466420246-f4de0a08b200?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=33578f214263389edc76d161e4a82164");
  background-size: cover;
}

.jumbotron {
  box-shadow: 0 4px 2px -2px gray;
}

.jumbotron p {
  color: white;
}

.jumbotron h1 {
  color: white;
  text-shadow: 0 1px #7023b7;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid #7023b7;
  text-shadow: 0 1px black;
}

.btn-default {
  color: #7023b7;
  background-color: transparent;
  border: 2px solid #7023b7;
}

.btn-default:hover {
  color: white;
  background-color: #7023b7;
  border-color: #7023b7;
}

.btn-primary:hover {
  background-color: #7023b7;
  border-color: #7023b7;
}

.well {
  background: #f2e6ff;
  border-color: #7023b7;
}

#signup-knight {
  height: 300px;
}


